@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family:  'Poppins', sans-serif;
}

a,
button {
  cursor: pointer;
}

button,
input,
select {
  font-family: 'Poppins', sans-serif;
}